
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'allumé'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilthree" [appareilStatus]="'allumé'"></app-appareil>
      </ul>
      <button type="button" class="btn btn-success" [disabled]="!isAuth" (click)="allumerTous()" *ngIf="isAuth">
        Tout allumer
      </button>
    </div>
  </div>
</div>
